.home-container {
  max-width: 900px;
  margin: auto;
  padding: 2rem;
  text-align: center;
}

.home-container h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: var(--primary-color);
}

.home-container p {
  font-size: 1.1rem;
  margin-bottom: 1.5rem;
  color: var(--color-text);
}

.map-container {
  border-radius: 10px;
  overflow: hidden;
  margin-top: 1rem;
}

